### Import Dependencies

In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

#### Reflect Tables into SQLAlchemy ORM

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

#### Create Database Connection

In [5]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

####  Reflect an existing database into a new model

In [6]:
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

#### We can view all of the classes that automap found

In [7]:
Base.classes.keys()

['measurement', 'station']

#### Save references to each table

In [8]:
Measurement = Base.classes.measurement
Station = Base.classes.station

#### Create our session (link) from Python to the DB

In [9]:
session = Session(engine)

#### Getting column names for measurement table

In [12]:
inspector = inspect(engine)
columns = inspector.get_columns('Measurement')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

#### Getting column names for Station table

In [13]:
columns = inspector.get_columns('Station')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

### Exploratory Climate Analysis

### Design a query to retrieve the last 12 months of precipitation data and plot the results

##### Query last date in dataframe

In [14]:
last_date = session.query(Measurement.date).order_by(Measurement.date.desc()).first()
last_date

('2017-08-23')